@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.2rem;
  color: #333333;
}

* ,
*::before ,
*::after {
  box-sizing: border-box;
}

a:link ,
a:visited ,
a:hover ,
a:active {
  text-decoration: none;
  color: #d03c56;
}

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url("../images/bg-header.gif") repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
  overflow: hidden;
  width: 225px;
  height: 56px;
  margin: 0 auto;
  white-space: nowrap;
  text-indent: 100%;
  background: url("../images/logo.png") no-repeat;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.global-nav .nav-item a {
  font-size: 1.3rem;
  line-height: 30px;
  display: inline-block;
  width: 100px;
  height: 30px;
  transition: .15s;
  text-align: center;
  letter-spacing: 1px;
  color: #666666;
  border-radius: 8px;
}

.global-nav .nav-item.active a ,
.global-nav .nav-item a:hover {
  color: #ffffff;
  background-color: #d03c56;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.hidden {
  display: none;
}

.sidemenu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/*********************************
一時的
*********************************/
